{{define "new-pw-formHTML"}}
<div>
    <button id="back-to-projects" hx-get="/" class="button-std">
        <img src="/static/icons/arrow_back_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg" class="std-icon" alt="back icon" />
        &nbsp;Projects
    </button>
</div>
<div id="login">
    <h3>Now, enter your new password</h3>
    <form class="login-form" hx-get="/set-new-password/" hx-swap="innerHTML" hx-target=".login-form">
        <input class="pw-reset-input" type="password" name="new-password1" placeholder="enter new password" />
        <input class="pw-reset-input" type="password" name="new-password2" placeholder="re-enter new password" />
        <button class="button-std" type="submit">Reset Password</button>
    </form>
</div>
{{end}}
