{{define "reset-passwordHTML"}}
    <button id="back-to-projects" hx-get="/" class="button-std">
        <img src="/static/icons/arrow_back_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg" class="std-icon" alt="back icon" />
        &nbsp;Projects
    </button>
<div id="login">
    <h3>First, verify your old password</h3>
    <form class="login-form" hx-get="/verify-old-password/" hx-swap="innerHTML" hx-target="body">
        <input class="pw-reset-input" type="password" name="password1" placeholder="enter password" />
        <input class="pw-reset-input" type="password" name="password2" placeholder="re-enter password" />
        <button class="button-std" type="submit">Verify</button>
    </form>
    <div class="login-error">{{.Error}}</div>
</div>
{{end}}
