{{define "sidebarHTML"}}
<div id="sidebar">
  <h2 id="sub-header">Members</h2>
  <div id="list-of-accepted-members">
    <ul>
      {{range .Members}}
      <li id="{{.UserID}}">
        <b
          hx-get="/get-member/{{$.Project.ID}}/{{.UserID}}/"
          hx-target="#sidebar"
          hx-swap="innerHTML"
          >{{.UserName}}</b
        >
        {{range .Roles}}
        <div>{{.}}</div>
        {{end}}
      </li>
      {{end}}
    </ul>
  </div>
    {{ template "form-search-membersHTML" . }}
</div>
{{end}}
