{{define "sidebarHTML"}}
<div id="sidebar">
  <h2 id="sub-header">Members</h2>
  <div id="list-of-accepted-members">
    <ul class="member-list">
      {{range .Members}}
      <li id="{{.UserID}}">
        <b
          class="member-name"
          hx-get="/get-member/{{.ProjectID}}/{{.UserID}}/"
          hx-target="#sidebar"
          hx-swap="innerHTML"
          >{{.UserName}}</b
        >
        {{range .Roles}}
        <div>{{.}}</div>
        {{end}}
      </li>
      {{end}}
    </ul>
  </div>
  <div id="search-members-form">
    <h3 id="sub-header">Search Members:</h3>
    {{ template "form-search-membersHTML" . }}
  </div>
</div>
{{end}}
