{{define "doc-commentHTML"}}
<div class="comment-container">
        <span class="comment-header">
            <p>{{ .CreatedAt }} by: </p> 
            <p>{{ .Author.Name }}</p>
        </span>
        <div class="comment-body">
            <p>{{ .Text }}</p>
        </div>
        <div>
            <button
                class="button-std"
                hx-delete="/delete-doc-comment/{{.ID}}"
                hx-swap="innerHTML"
                hx-target="#comments"
            >
                <img
                    src="/static/icons/delete_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg"
                    class="std-icon"
                    alt="trash icon"
                />
                &nbsp;
            </button>
        </div>
</div>
{{end}}
