#document-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#doc-details-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-right: 2rem;
}

#doc-preview-container {
    margin-top: 1rem;
    width: full; 
    max-width: 800px;
}

