#project-list-items {
  list-style: square;
}

.project-list-item {
  align-items: center;
  margin: 2rem;
  display: flex;
  font-size: large;
}

.project-list-item:hover {
  cursor: pointer;
}

#project-title {
  padding-right: 2rem;
}
