#project-list-items {
  list-style: none;
}

.project-list-item {
  align-items: center;
  margin: 0.5rem;
  display: flex;
  font-size: large;
}

.project-list-item:hover {
  color: cadetblue;
}

.project-title {
  padding-right: 2rem;
}

.project-title:hover {
    cursor: pointer;
}

#project-role {
  margin-left: 1rem;
}

#create-project {
    display: flex;
    justify-content: left;
    align-items: center;
}

.no-invites-msg {
    padding-left: 4rem;
}  

.create-proj-btn {
    margin-left: .5rem;
}

#project-cancel-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-btn {
    background-color: #5f9e6e;
    margin-right: .5rem;
    margin-left: .5rem;
}

.confirm-btn:hover {
    background-color: #7dc986;
    cursor: pointer;
}

.cancel-btn {
    background-color: #9c2c1f;
    margin-right: .5rem;
    margin-left: .5rem;
}

.cancel-btn:hover {
    background-color: #d95041;
    cursor: pointer;
}
