{{define "create-accountHTML"}}
<form
  class="login-form"
  hx-post="/post-create-account/"
  hx-swap="innerHTML"
  hx-target="#login"
>
  <h2 id="subheader">Create Account:</h2>
  <div class="login-input">
    <label>First Name: </label>
    <input type="text" name="firstName" />
  </div>
  <div class="login-input">
    <label>Last Name: </label>
    <input type="text" name="lastName" />
  </div>
  <div class="login-input">
    <label>Email: </label>
    <input type="text" name="email" />
  </div>
  <div class="login-input">
    <label>Password: </label>
    <input name="password" type="password" />
  </div>
  <div class="login-input">
    <label>Verify Password: </label>
    <input name="secondPassword" type="password" />
  </div>
  <div id="sub-login">
    <p>
      Already have an account? Log in
      <span
        id="link-text"
        hx-get="/login/"
        hx-target="#login"
        hx-swap="outerHTML"
        >here</span
      >
    </p>
    <button class="button-std" type="submit">Create Account</button>
    <div class="login-error">{{.Error}}</div>
  </div>
</form>
{{end}}
