{{define "login-formHTML"}}
<form
    id="login-form"
    hx-post="/post-login/"
  hx-trigger="submit"
  hx-target="#login"
  hx-swap="innerHTML"
>
  <h2 id="subheader">Login:</h2>
  <div class="login-input">
    <label>Email: </label>
    <input type="text" name="email" />
  </div>
  <div class="login-input">
    <label>Password: </label>
    <input type="password" name="password" />
  </div>
  <div id="sub-login">
    <p>
      If you do not have an account, create one
      <span
        id="link-text"
        hx-get="/get-create-account/"
        hx-target="#login"
        hx-swap="outerHTML"
        >here</span
      >
    </p>
    <button class="button-std" type="submit">Log In</button>
    <div class="login-error">{{.Error}}</div>
  </div>
</form>
{{end}}
