{{ define "document-detailsHTML" }}
<div>
	<div>
		<button class="button-std"
			hx-get="/get-project/{{.OrgID}}"
			hx-swap="innerHTML"
			hx-target="#main"
			>Back To Project</button>
	<h3>Document Details:</h3>
    <div class="doc-data-container">
        <label>Doc Type: </label>
	    <p>{{ .DocType }}</p>
    </div>
    <div class="doc-data-container">
        <label>Date Uploaded: </label>
        <p>{{ .UploadDate }}</p>
    </div>
    <div class="doc-data-container">
        <label>Filename: </label>
        <p>{{ .FileName }}</p>
    </div>
    <div class="doc-data-container">
	    <label>Uploaded By: </label>
        <p>{{.UploaderName}}</p>
    </div>
    <button class="button-std" hx-get="/download-doc/{{.ID}}"
        hx-on::after-request="downloadDoc(event)"
        hx-swap="none"
        >
        Download Document</button>
</div>

<script>
    function downloadDoc(event) {
        const url = event.detail.xhr.responseURL;
        const a = document.createElement('a');
        a.href = url;
        a.download = url.split('/').pop();
        a.click();
    }
</script>
{{ end }} 
