{{define "docListHTML"}}
<div id="doc-list">
  <h2 id="sub-header" >Production Documents</h2>
  <p>This will include:</p>
  {{template "fileUploadHTML" .}}
  <table id="table">
    <tr>
      <th id="table-header">Script</th>
      <th id="table-header">Lookbook</th>
      <th id="table-header">Shotlist</th>
      <th id="table-header">Budget</th>
      <th id="table-header">Schedule</th>
      <th id="table-header">Synopsis</th>
      <th id="table-header">Logline</th>
      <th id="table-header">Story</th>
      <th id="table-header">etc.</th>
    </tr>
  </table>
</div>
</div>
{{end}}
