{{define "login-formHTML"}}
<div id="login">
  <form
    hx-post="/post-login/"
    hx-trigger="submit"
    hx-target="body"
    hx-swap="outerHTML"
  >
    <h2 id="subheader">Login:</h2>
    <div id="login-input">
      <label>Email: </label>
      <input type="text" name="email" />
    </div>
    <div id="login-input">
      <label>Password: </label>
      <input type="password" name="password" />
    </div>
    <p>
      If you do not have an account, create one
      <span
        id="link-text"
        hx-get="/get-create-account/"
        hx-target="#login"
        hx-swap="innerHTML"
        >here</span
      >
    </p>
    <div>
      <button id="button-std">Log In</button>
    </div>
  </form>
</div>
{{end}}
