{{ define "projectDeleteCancelHTML" }}
<div>
            <button
          class="button-std"
          hx-get="/delete-project/{{.ID}}/"
          type="submit"
          hx-swap="innerHTML"
          hx-target="#project-list"
        >
        <img src="/static/icons/delete_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg" class="std-icon" alt="trash icon" />
        &nbsp;Yes Delete Org {{.ID}}
        </button>
                <button 
                    class="button-std"
                    hx-get="/cancel-delete-project/{{$.ID}}/"
                    type="submit"
                    hx-swap="innerHTML"
                    hx-target=".project-delete-{{$.ID}}"
                    >
                    No, Cancel
                </button>
</div>
{{end}}
