{{define "selectOrgHTML"}}
<div id="project-list">
  <form
    id="create-project"
    hx-get="/create-project/"
    hx-target="#project-list-items"
    hx-swap="beforeend"
    hx-on::after-request="this.reset()"
  >
    <input
      id="text-input-std"
      type="text"
      placeholder="enter project title"
      name="project-name"
    />
    <button class="button-std" type="submit">Create Project</button>
  </form>
  <h2 id="sub-title">Projects that you're a member of:</h2>
  <div id="membership-list">
    {{block "project-list" .}}

    <ul id="project-list-items">
      {{ range .Projects.Accepted }} {{block "project-list-item" .}}
      <li id="{{.Id}}" class="project-list-item">
        <p
          class="project-title"
          hx-get="/get-project/{{.Id}}"
          hx-target="#project-list"
          hx-swap="innerHTML"
        >
          <b>{{.Name}}: </b>
        </p>
        {{range .Roles}}
        <p id="project-role">{{.}}</p>
        {{end}} {{$isOwner := false}} {{range .Roles}} {{ if eq . "owner"}}
        {{$isOwner = true}} {{end}} {{end}} {{if $isOwner}}
        <button
          class="button-std"
          hx-get="/delete-project/{{$.Id}}/"
          type="submit"
          hx-swap="innerHTML"
          hx-target="#membership-list"
        >
          Delete Org
        </button>
        {{end}}
      </li>
      {{end}}{{end}}
    </ul>
    <h2 class="sub-title">Projects Invites:</h2>
    <ul id="pending-list">
      {{ range .Projects.Pending }} {{ $org := . }}
      <li id="{{.Id}}" class="project-list-item">
        <p class="project-title">
          <b>{{.Name}}: </b>
        </p>
        {{range .Roles}}
        <button
          class="button-std"
          type="submit"
          hx-post="/join-org/{{$org.Id}}/{{.}}"
          hx-swap="innerHTML"
          hx-target="#project-list"
        >
          Accept Invite as <b> {{.}} </b>
        </button>
        {{end}} {{end}}
      </li>
      {{end}}
    </ul>
  </div>
</div>
{{end}}
