{{define "selectOrgHTML"}}
<div id="project-list">
  <form
    id="create-project"
    hx-get="/create-project/"
    hx-target="#project-list-items"
    hx-swap="beforeend"
    hx-on::after-request="this.reset()"
  >
    <input
      id="text-input-std"
      type="text"
      placeholder="enter project title"
      name="project-name"
    />
    <button class="button-std" type="submit">Create Project</button>
  </form>
  <h2 id="sub-title">Projects that you're a member of:</h2>
  <div id="membership-list">
    {{block "project-list" .}}
    <ul id="project-list-items">
      {{ range .Accepted }} {{block "project-list-item" .}}
      <li id="{{.ID}}" class="project-list-item">
        <p
          class="project-title"
          hx-get="/get-project/{{.ID}}"
          hx-target="#project-list"
          hx-swap="innerHTML"
        >
          <b>{{.Name}}: </b>
        </p>
        {{range .Roles}}
        <p id="project-role">{{.}}</p>
        {{end}} {{$isOwner := false}} {{range .Roles}} {{ if eq . "owner"}}
        {{$isOwner = true}} {{end}} {{end}} {{if $isOwner}}
        <button
          class="button-std"
          hx-get="/delete-project/{{$.ID}}/"
          type="submit"
          hx-swap="innerHTML"
          hx-target="#project-list"
        >
        <img src="/static/icons/delete_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg" class="std-icon" alt="trash icon" />
          &nbsp;Delete Org
        </button>
        {{end}}
      </li>
      {{end}}{{end}}
    </ul>
    <h2 class="sub-title">Projects Invites:</h2>
    {{ if eq (len .Invited) 0 }}
    <i class="no-invites-msg">You have no current invites</i>
    {{ else }}
    <ul id="pending-list">
      {{ range .Invited }} {{ $org := . }}
      <li id="{{.ID}}" class="project-list-item">
        <p class="project-title">
          <b>{{.Name}}: </b>
        </p>
        <button
          class="button-std accept-invite"
          type="submit"
          hx-post="/join-org/{{.ID}}/{{.}}"
          hx-swap="innerHTML"
          hx-target="#project-list"
        >
          Accept Invite
        </button>
        {{end}}
      </li>
      {{end}}
    </ul>
    {{end}}
  </div>
</div>
{{end}}
