{{define "sidebarHTML"}}
<div id="sidebar">
  <h2 id="sub-header">Members</h2>
  <div id="list-of-accepted-members">
    <ul>
      {{range .Members}} {{if eq .InviteStatus "accepted"}}
      <li id="{{.Id}}">{{.Name}} <i>{{.Role}}</i></li>
      {{end}} {{end}}
    </ul>
  </div>

  <div id="invites">
    {{template "search-membersHTML" .}}
    <h2 id="sub-header">Invited</h2>
    <ul>
      {{range .Members}} {{if eq .InviteStatus "pending"}}
      <li id="{{.Id}}">{{.Name}} <i>{{.Role}}</i></li>
      {{end}} {{end}}
    </ul>
  </div>
</div>
{{end}}
