{{define "search-membersHTML"}}
<div id="members">
  <p>Add a team member:</p>
  <form
    hx-post="/search-users/"
    name="search-users"
    hx-target="#members"
    hx-swap="innerHTML"
  >
    <input type="text" placeholder="username" name="username" />
    <button>Search</button>
  </form>

  {{if .FoundUsers}}
  <h3>Search Results:</h3>
  <ul id="list-found-users">
    {{range .FoundUsers}}
    <li>{{.Name}}</li>
    {{end}}
  </ul>
  {{else}}
  <p>No users found.</p>
  {{end}}
</div>
{{end}}
