{{define "search-membersHTML"}}
<div id="members">
  <p>Add a team member:</p>
  <form
    hx-post="/search-users/{{.Project.Id}}"
    name="search-users"
    hx-target="#search-results"
    hx-swap="innerHTML"
  >
    <input type="text" placeholder="username" name="username" />
    <button>Search</button>
  </form>

  <div id="search-results">
    {{block "search-resultsHTML" .}} {{if .FoundUsers}}
    <h2 id="sub-header">Search Results:</h2>
    <ul id="list-found-users">
      {{range .FoundUsers}}
      <li>
        {{.Name}}
        <form hx-post="/add-member/{{.Id}}/{{$.ProjectId}}">
          <select name="role">
            <option>writer</option>
            <option>producer</option>
            <option>director</option>
            <option>production designer</option>
            <option>cinematographer</option>
          </select>
          <button id="add-user">+</button>
        </form>
      </li>
      {{end}}
    </ul>
    {{else}}
    <p>No users found.</p>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}
