{{define "selectOrgHTML"}}
<div id="project-list">
  <form
    id="create-project"
    hx-get="/create-project/"
    hx-target="#project-list-items"
    hx-swap="beforeend"
    hx-on::after-request="this.reset()"
  >
    <input type="text" placeholder="enter project title" name="project-name" />
    <button>Create Project</button>
  </form>
  <h2 id="sub-title">Projects that you're a member of:</h2>
  {{block "project-list" .}}
  <ul id="project-list-items">
    {{ range .Orgs.Memberships }} {{block "project-list-item" .}}
    <li
      id="{{.Id}}"
      hx-get="/get-project/{{.Id}}"
      hx-target="#project-list"
      hx-swap="innerHTML"
    >
      <b>{{.Name}}: </b> {{.Role}} {{if eq .InviteStatus "pending"}}
      <span>(Invite Pending)</span>
      {{end}}
    </li>
    {{end}}{{end}}
  </ul>
  <h2 id="sub-title">Projects Invites:</h2>
  <ul id="pending-list">
    {{ range .Orgs.Pending }}
    <li id="{{.Id}}">
      <b>{{.Name}}: </b>
      <button
        id="button-std"
        hx-post="/join-org/{{$.User.Id}}/{{.Id}}/{{.Role}}"
        hx-swap="innerHTML"
        hx-target="#project-list"
      >
        Accept Invite as <b>{{.Role}}</b>
      </button>
      {{end}}
    </li>
    {{end}}
  </ul>
</div>
{{end}}
