{{define "selectOrgHTML"}}
<div id="project-list">
  <form
    id="create-project"
    hx-get="/create-project/"
    hx-target="#project-list-items"
    hx-swap="beforeend"
    hx-on::after-request="this.reset()"
  >
    <input type="text" placeholder="enter project title" name="project-name" />
    <button id="button-std">Create Project</button>
  </form>
  <h2 id="sub-title">Projects that you're a member of:</h2>
  {{block "project-list" .}}
  <ul id="project-list-items">
    {{ range .Orgs.Memberships }} {{block "project-list-item" .}}
    <li
      id="{{.Id}}"
      class="project-list-item"
      hx-get="/get-project/{{.Id}}"
      hx-target="#project-list"
      hx-swap="innerHTML"
    >
      <p id="project-title">
        <b>{{.Name}}: </b>
        {{range .Roles}}
        <span id="project-role">{{.}}</span>
      </p>
      {{if eq . "owner"}}
      <button
        id="button-std"
        hx-get="/delete-project/{{$.Id}}/"
        hx-swap="innerHTML"
        hx-target="#project-list"
      >
        Delete Org
      </button>
      {{end}} {{end}}
    </li>
    {{end}}{{end}}
  </ul>
  <h2 id="sub-title">Projects Invites:</h2>
  <ul id="pending-list">
    {{ range .Orgs.Pending }} {{ $org := . }}
    <li id="{{.Id}}" class="project-list-item">
      <p id="project-title">
        <b>{{.Name}}: </b>
      </p>
      {{range .Roles}}
      <button
        id="button-std"
        hx-post="/join-org/{{$.User.Id}}/{{$org.Id}}/{{.}}"
        hx-swap="innerHTML"
        hx-target="#project-list"
      >
        Accept Invite as <b> {{.}} </b>
      </button>
      {{end}} {{end}}
    </li>
    {{end}}
  </ul>
</div>
{{end}}
