{{define "form-search-membersHTML"}}
<div id="members">
  <form
    hx-post="/search-users/{{.Project.ID}}/"
    name="search-users"
    hx-target="#search-results"
    hx-swap="innerHTML"
    hx-on::after-request="this.reset()"
    >
    <input
      id="text-input-std"
      type="text"
      placeholder="username"
      name="username"
    />
    <button class="button-std" type="submit">
        <img src="/static/icons/search_32dp_E8EAED_FILL0_wght400_GRAD0_opsz40.svg" class="std-icon" alt="trash icon" />
        </button>
  </form>
  <div id="search-results"></div>
    {{template "invited-membersHTML" .}}
</div>
{{end}}
